﻿@model IEnumerable<DemoApl.Models.Navbar>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        @Html.ActionLink("Demo Application", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
    </div>
    
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                    @foreach (var item in Model)
                    {
                        if (item.isParent == false && item.parentId == 0)
                        {
                            <li><a href="@Url.Action(item.action, item.controller)"><i class="@item.imageClass"></i> @item.nameOption</a></li>
                        }
                        else
                        {
                            if (item.isParent == true)
                            {
                                <li>
                                    <a href="#"><i class="@item.imageClass"></i> @item.nameOption<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        @foreach (var child in Model.Where(p => p.parentId == item.Id))
                                        {
                                            if (child.controller == null)
                                            {
                                                <li><a href="#">@child.nameOption</a></li>
                                            }
                                            else
                                            {
                                            <li><a href="@Url.Action(child.action, child.controller)">@child.nameOption</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
