﻿@model DemoApl.Models.ViewModels.SingleShotPasswordViewModels

@{
    ViewBag.Title = "LoginWithPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login With Single Shot Password</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                @Html.ValidationSummary(true)

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Verification</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(model => Model.sUserSingleShotPass)
                                    @Html.ValidationMessageFor(Model => Model.sUserSingleShotPass)
                                    <input class="form-control" placeholder="Password" name="sUserSingleShotPass" type="password" value="">
                                </div>
                                
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />
                            </fieldset>
                        </form>
                    </div>
                </div>

            }
        </div>
    </div>
</div>