﻿@model DemoApl.Models.ViewModels.UserViewLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                @Html.ValidationSummary(true)

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.sUserName)
                                    @Html.ValidationMessageFor(model => model.sUserName)
                                    <input id="UserLoginId" class="form-control" placeholder="User ID" name="sUserName" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.sUserPass)
                                    @Html.ValidationMessageFor(Model => Model.sUserPass)
                                    <input class="form-control" placeholder="Password" name="sUserPass" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />
                            </fieldset>
                        </form>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
