﻿@model DemoApl.Models.ViewModels.LoggedUser

@{
    ViewBag.Title = "WelcomePage";
}

<h2>Welcome</h2>

<div>
    @{
        var LoggedInUser = (DemoApl.Models.ViewModels.LoggedUser)Session["User"];
    }
    <h4>Active User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sName)
        </dt>

        <dd>
            @LoggedInUser.sName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sFirstName)
        </dt>

        <dd>
            @LoggedInUser.sFirstName
        </dd>

    </dl>
</div>

